<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalimos Cenik</title>
    <link rel="stylesheet" type="text/css" href="/css/style_cenik.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style_menu.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
<!-- menu -->
<nav class="navbar">
    <div class="inner-width">
        <a href="/" class="logo"></a>
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-menu">
            <a href="index">Główna</a>
            <a href="cenik">Cennik</a>
            <a href="rezerwacje">Rezerwacje</a>
            <a href="oferta">Oferta</a>
            <a href="galeria">Galeria</a>
            <a href="kontakt">Kontakt</a>
        </div>
    </div>
</nav>
<section id="home">
    <div class="inner-width">
        <div class="content">
            <!-- Tabela --->
            <table>
                <tr id="header">
                    <th>Usługa</th>
                    <th>Męskie</th>
                    <th>Dziecięce</th>
                    <th>Damskie</th>
                </tr>
                <tr>
                    <td>Mycie Głowy </td>
                    <td>5zł </td>
                    <td>10zł </td>
                    <td>15zł </td>
                </tr>
                <tr>
                    <td>Stzyżenie</td>
                    <td>20zł </td>
                    <td>20zł </td>
                    <td>30zł </td>
                </tr>
                <tr>
                    <td>Strzyżenie+modelowanie </td>
                    <td>38zł </td>
                    <td>45zł </td>
                    <td>50zł </td>
                </tr>
                <tr>
                    <td>Farba </td>
                    <td>90zł </td>
                    <td>120zł </td>
                    <td>150zł </td>
                </tr>
                <tr>
                    <td>Dekoloryzacja </td>
                    <td>180zł </td>
                    <td>200zł </td>
                    <td>250zł </td>
                </tr>
                <tr>
                    <td>Pasemka </td>
                    <td>100zł </td>
                    <td>130zł </td>
                    <td>150zł </td>
                </tr>
                <tr>
                    <td>Balayage </td>
                    <td>110zł </td>
                    <td>140zł </td>
                    <td>170zł </td>
                </tr>
                <tr>
                    <td>Sobre </td>
                    <td>120zł </td>
                    <td>130zł </td>
                    <td>150zł </td>
                </tr>
                <tr>
                    <td>Trwała</td>
                    <td>120zł </td>
                    <td>130zł </td>
                    <td>170zł </td>
                </tr>
                <tr>
                    <td>Loki</td>
                    <td>100zł </td>
                    <td>120zł </td>
                    <td>160zł </td>
                </tr>
            </table>
        </div>
    </div>
</section>
</body>
</html>