<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalimos Galeria</title>
    <link rel="stylesheet" type="text/css" href="/css/style_galeria.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style_menu.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
<!-- menu -->
<nav class="navbar">
    <div class="inner-width">
        <a href="/" class="logo"></a>
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-menu">
            <a href="index">Główna</a>
            <a href="cenik">Cennik</a>
            <a href="rezerwacje">Rezerwacje</a>
            <a href="oferta">Oferta</a>
            <a href="galeria">Galeria</a>
            <a href="kontakt">Kontakt</a>
        </div>
    </div>
</nav>

         <div class="gallery-section">
                <div class="inner-width">
                    <h1>Galeria</h1>
                    <div class="border"></div>
                    <div class="gallery">

                        <a href="img/1.jpg" class="image">
                            <img src="img/1.jpg" alt="">
                        </a>

                        <a href="img/2.jpg" class="image">
                            <img src="img/2.jpg" alt="">
                        </a>

                        <a href="img/3.jpg" class="image">
                            <img src="img/3.jpg" alt="">
                        </a>

                        <a href="img/4.jpg" class="image">
                            <img src="img/4.jpg" alt="">
                        </a>

                        <a href="img/5.jpg" class="image">
                            <img src="img/5.jpg" alt="">
                        </a>

                        <a href="img/6.jpg" class="image">
                            <img src="img/6.jpg" alt="">
                        </a>

                        <a href="img/7.jpg" class="image">
                            <img src="img/7.jpg" alt="">
                        </a>

                        <a href="img/8.jpg" class="image">
                            <img src="img/8.jpg" alt="">
                        </a>

                        <a href="img/9.jpg" class="image">
                            <img src="img/9.jpg" alt="">
                        </a>

                        <a href="img/10.jpg" class="image">
                            <img src="img/10.jpg" alt="">
                        </a>

                        <a href="img/11.jpg" class="image">
                            <img src="img/11.jpg" alt="">
                        </a>

                        <a href="img/12.jpg" class="image">
                            <img src="img/12.jpg" alt="">
                        </a>

                        <a href="img/13.jpg" class="image">
                            <img src="img/13.jpg" alt="">
                        </a>

                        <a href="img/14.jpg" class="image">
                            <img src="img/14.jpg" alt="">
                        </a>

                        <a href="img/15.jpg" class="image">
                            <img src="img/15.jpg" alt="">
                        </a>

                        <a href="img/16.jpg" class="image">
                            <img src="img/16.jpg" alt="">
                        </a>

                        <a href="img/17.jpg" class="image">
                            <img src="img/17.jpg" alt="">
                        </a>

                        <a href="img/18.jpg" class="image">
                            <img src="img/18.jpg" alt="">
                        </a>

                        <a href="img/19.jpg" class="image">
                            <img src="img/19.jpg" alt="">
                        </a>

                        <a href="img/20.jpg" class="image">
                            <img src="img/20.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
<script>
    $(".gallery").magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery:{
            enabled: true
        }
    });
</script>
</body>
</html>