<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>َLogowanie</title>
    <link rel="stylesheet" type="text/css" href="/css/style_logowanie.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style_menu.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
<!-- menu -->
<nav class="navbar">
    <div class="inner-width">
        <a href="zs2v" class="logo"></a>
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-menu">
            <a href="zs2v">Główna</a>
            <a href="cennik">Cenik</a>
            <a href="rezerwacje">Rezerwacje</a>
            <a href="oferta">Oferta</a>
            <a href="galeria">Galeria</a>
            <a href="kontakt">Kontakt</a>
            <a href="sqxc3f">Panel Admina</a>
        </div>
    </div>
</nav>
<form class="box" action="zs2v" method="zs2v">
    <h1>Logowanie</h1>
    <label>
        <input type="text" name="" placeholder="Login">
        <input type="password" name="" placeholder="Hasło">
        <input type="submit" name="" value="Zaloguj" a href="zs2v"></a>
        <a href="index" class="btn">Wyloguj</a>
    </label>
</form>


</body>
</html>
