<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalimos Oferta</title>
    <link rel="stylesheet" type="text/css" href="/css/style_oferta.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style_menu.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
<!-- menu -->
<nav class="navbar">
    <div class="inner-width">
        <a href="/" class="logo"></a>
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-menu">
            <a href="index">Główna</a>
            <a href="cenik">Cennik</a>
            <a href="rezerwacje">Rezerwacje</a>
            <a href="oferta">Oferta</a>
            <a href="galeria">Galeria</a>
            <a href="kontakt">Kontakt</a>
        </div>
    </div>
</nav>

    <div class="card">
        <div class="content">
            <div class="image">
                <img src="/grafiki/mes_fryz.jpg" alt="">
            </div>
            <div class="title">
                Męskie
                <div class="author">Strzyżenie</div>
            </div>
            <div class="info">
                <span class="icon">i</span>
                <h2>Oferujemy</h2>
                <p>
                    Strzyżenie męskie
                    Najnowsze techniki koloryzacji
                    Sauna dla włosów
                    Rewitalizacja włosów
                    Stylizacja
                    Trwała ondulacja
                    Fryzury dzienne i okazjonalne                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <div class="image">
                <img src="/grafiki/dze_fryz.jpg" alt="">
            </div>
            <div class="title">
                Dziecięce
                <div class="author">Strzyżenie</div>
            </div>
            <div class="info">
                <span class="icon">i</span>
                <h2>Oferujemy</h2>
                <p>
                    Strzyżenie dziecięce
                    Najnowsze techniki koloryzacji
                    Sauna dla włosów
                    Rewitalizacja włosów
                    Stylizacja
                    Trwała ondulacja
                    Fryzury dzienne i okazjonalne                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <div class="image">
                <img src="/grafiki/dam_fryz.jpg" alt="">
            </div>
            <div class="title">
                Damskie
                <div class="author">Strzyżenie</div>
            </div>
            <div class="info">
                <span class="icon">i</span>
                <h2>Oferujemy</h2>
                <p>
                    Strzyżenie damskie
                    Najnowsze techniki koloryzacji
                    Sauna dla włosów
                    Rewitalizacja włosów
                    Stylizacja
                    Trwała ondulacja
                    Fryzury dzienne i okazjonalne
                </p>
            </div>
        </div>
    </div>
</body>
</html>