<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalimos Rezerwacje</title>
    <link rel="stylesheet" type="text/css" href="/css/style_rezerwacje2.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style_menu.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
<!-- menu -->
<nav class="navbar">
    <div class="inner-width">
        <a href="lq4cs" class="logo"></a>
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-menu">
            <a href="zs2v">Główna</a>
            <a href="cenik">Cennik</a>
            <a href="rezerwacje">Rezerwacje</a>
            <a href="oferta">Oferta</a>
            <a href="galeria">Galeria</a>
            <a href="kontakt">Kontakt</a>
            <a href="sqxc3f">Panel Admina</a>
        </div>
    </div>
</nav>
<section id="home">
    <div class="inner-width">
        <div class="container">
            <div class="container-time">
                <h2 class="heading"></h2>
                <br><hr><br>
                <h3 class="heading-days"></h3>
                <br><p></p><br><hr><br>
                <h4 class="heading-phone"></h4>
            </div>
            <div class="container-form">
                <form action="#">
                    <h2 class="heading heading-yellow">Dodaj Artykuł</h2>
                    <br><br>
                    <div class="form-field">
                        <p>Kategoria</p>
                        <input type="text" placeholder="">
                    </div>
                    <br>
                    <div class="form-field">
                        <p>Tytuł</p>
                        <input type="text" placeholder="">
                    </div>
                    <br>
                    <div class="form-field">
                        <p>Data</p>
                        <input type="date">
                    </div>
                    <br>
                    <div class="form-field">
                        <p>Artykuł</p>
                        <textarea name="Text1" cols="40" rows="5"></textarea>
                    </div>
                    <br>
                    <div class="form-field">
                        <p>Nr Artykułu</p>
                        <input type="text" placeholder="">
                    </div>
                    <br>
                    <button class="btn">Dodaj</button>
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>